# Ignore compiled class file
*.class

# Ignore eclipse project file
.project

# Ignore the bin folder
bin/

# Ignore eclipse settings file
.settings
/.metadata/
/bin/

# Ignore intellij files
*.iml
.idea
